<!-- Custom Load CSS -->
<?php echo (isset($loadCSS) ? $loadCSS : "");?>

	<!-- user -->
	<div class="panel panel-flat">
		<div class="panel-heading">
			<div class="row">
			<div class="col-sm-12">

			   <div class="row">
				<div class="col-sm-12" style="padding-bottom: 50px">
					<div class="col-sm-9" >
						<h4 class="panel-title">TOTAL USER<a class="heading-elements-toggle"><i class="icon-more"></i></a></h4>
					</div>
					<div class="col-sm-3">
						<div class="col-sm-8">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
							<input type="text" class="form-control wplay-form-control daterange" name="daterange">
						</div>
						</div>
						<div class="col-sm-4"><button type="button" class="btn btn-primary" id="reloadData">Reload</button></div>
					</div>
				</div>
			   </div>

				<div class="col-sm-4">

					<!-- Members online -->
					<div class="panel bg-teal-400">
						<div class="panel-body">


							<h3 class="no-margin"><span id="totalusers"></span></h3>
							Registered users

						</div>

						<div class="container-fluid">
							<div id="members-online"></div>
						</div>
					</div>
					<!-- /members online -->

				</div>

				<div class="col-sm-4">

					<!-- Current server load -->
					<div class="panel bg-pink-400">
						<div class="panel-body">


							<h3 class="no-margin"><span id="verifiedusers"></span></h3>
							Verified users

						</div>

						<div id="server-load"></div>
					</div>
					<!-- /current server load -->

				</div>

				<div class="col-sm-4">

					<!-- Today's revenue -->
					<div class="panel bg-blue-400">
						<div class="panel-body">


							<h3 class="no-margin"><span id="activeusers"></span></h3>
							Active users

						</div>

						<div id="today-revenue"></div>
					</div>
					<!-- /today's revenue -->

				</div>

			</div>
			</div>
		</div>
	</div>
	<!-- end of user -->

	<!-- Tabel -->
	<!-- <div class="panel-heading-abu">
		<h4 class="panel-title">Top Activity<a class="heading-elements-toggle"><i class="icon-more"></i></a></h4>
	</div> -->
	<div class="panel panel-flat">
		<div class="panel-body">
		<table class="table datatable-button-init-custom" id="user-grid">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Register</th>
					<th>Verified</th>
					<th>Status</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		</div>
	</div>
	<!-- End Top Activity -->

<!-- Bootstrap modal -->
<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Person Form</h3>
            </div>
            <div class="modal-body form">
                <form action="#" id="form" class="form-horizontal">
                    <input type="hidden" value="" name="public_id"/>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-9">
                                <input name="email" class="form-control" type="text" id="emailModal">
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Bootstrap modal -->

<!-- Template Load JS -->
<?php echo load_template_JS();?>
<!-- Custom Load JS -->
<?php echo (isset($loadJS) ? $loadJS : "");?>

<script type="text/javascript">
    var urls = "<?php echo site_url();?>";

	// Setting datatable defaults
    $.extend( $.fn.dataTable.defaults, {
		//Set column definition initialisation properties.
		columnDefs: [
			{
				targets: [ -1 ], //last column
				orderable: false, //set not orderable
			},
		],

		lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],

		language: {
			search: '<span>Search:</span> _INPUT_',
			lengthMenu: '<span>Show:</span> _MENU_',
      emptyTable:	"No Data",
			paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
		},

		dom: 'Bflrtip',
		buttons: [
			{
			 extend: 'collection',
			 text: 'Download',
			 className: 'btn btn-primary',
			 buttons:
            	[
                    {
                        extend: "copy",
                        exportOptions: { columns: ':visible:not(:last-child)' }, //last column has the action types detail/edit/delete
                        footer:true
                    },
                    {
                        extend: "csv",
                        exportOptions: { columns: ':visible:not(:last-child)' },
                        footer: true
                    },
                    {
                        extend: "excel",
                        exportOptions: { columns: ':visible:not(:last-child)' },
                        footer:true
                    },
                    {
                        extend: "pdf",
                        exportOptions: { columns: ':visible:not(:last-child)' },
                        footer:true
                    }

                ]
			}
		]
    });

	$(function() {

		refreshDatatable(0, '', '');
		setCountUsers('', '');

		var start = moment().subtract(29, 'days');
    var end = moment();

    $('.daterange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        autoUpdateInput: false,
        buttonClasses: "btn btn-sm",
        opens:"left",
        locale: {
            cancelLabel: 'Clear',
            format: 'DD-MMM-YYYY'
        }
    });

		$(".daterange", this).on('apply.daterangepicker', function (ev, picker) {
		   ev.preventDefault();
		   $(this).val(picker.startDate.format('DD-MMM-YYYY') + ' to ' + picker.endDate.format('DD-MMM-YYYY'));
		   startDate = picker.startDate.format('YYYY-MM-DD');
		   endDate = picker.endDate.format('YYYY-MM-DD');
		   refreshDatatable(1, startDate, endDate);

		   setCountUsers(startDate, endDate);

		});

		$(".daterange", this).on('cancel.daterangepicker', function (ev, picker) {
		   ev.preventDefault();
		   refreshDatatable(0, '', '');

		   setCountUsers('', '');
		});

		$('#reloadData').on('click', function(e){
			e.preventDefault();
			refreshDatatable(0, '', '');
			setCountUsers('', '');
			$('.daterange').val('');
		});

	});


	function refreshDatatable(control = 0, from, to) {

      if (control == 1) {
        	$('#user-grid').dataTable().fnDestroy();
        	//datatables
					var oTable = $('#user-grid').DataTable({
						destroy: true,
						stateSave: true,
						deferRender: true,
						processing: true, //Feature control the processing indicator.
						serverSide: true, //Feature control DataTables' server-side processing mode.

						// Load data for the table's content from an Ajax source
						ajax: {
							url: urls + "usermember/ajax_list",
							data:{fromDate:from, toDate:to},
							type: "POST"
						}

					});
      }else{
        	$('#user-grid').dataTable().fnDestroy();
					//datatables
					var oTable = $('#user-grid').DataTable({
						destroy: true,
						stateSave: true,
						deferRender: true,
						processing: true, //Feature control the processing indicator.
						serverSide: true, //Feature control DataTables' server-side processing mode.

						// Load data for the table's content from an Ajax source
						ajax: {
							url: urls + "usermember/ajax_list",
							type: "POST"
						}

					});
      }

		// Add placeholder to the datatable filter option
		$('.dataTables_filter input[type=search]').attr('placeholder','Type here');

		// Enable Select2 select for the length option
		$('.dataTables_length select').select2({
			minimumResultsForSearch: Infinity,
			width: 'auto'
		});
    }

    function setCountUsers(from, to) {
        $.ajax({
            url: urls+'usermember/set_count_users/',
            type: "POST",
						data:{fromDate:from, toDate:to},
            dataType: "json",
            success: function(response)
			{
				$('#totalusers').html(response.totaluser);
				$('#verifiedusers').html(response.verifieduser);
				$('#activeusers').html(response.activeuser);

			},
            cache: false,
            error: function(xhr, status) {
				alert("Error: "+xhr.errorInfo);
                console.log(xhr.status + "/a");
            }
        });
    }

	function showDetail(pub_id) {
        $.ajax({
            url: urls+'usermember/showdetail/'+pub_id,
            type: "GET",
            dataType: "json",
            success: function(response)
			{
				$('[name="public_id"]').val(response.public_id);
				$('[name="email"]').val(response.email);
				$('#modal_form').modal('show'); // show bootstrap modal when complete loaded
				$('.modal-title').text('Detail User Member'); // Set title to Bootstrap modal title

			},
            cache: false,
            error: function(xhr, status) {
				alert("Error: "+xhr.errorInfo);
                console.log(xhr.status + "/a");
            }
        });
    }
</script>
