div.dt-buttons {
    clear: both;
    background: #000;
}
.dataTables_wrapper .dataTables_processing {
    width: 30%;
    margin-left: -13%;
    margin-top: -8px;
    padding: 0 0 0 0;
    background: black;
    border: 3px solid #92D050;
    border-radius: 6px;
    height: 28px;
    top: 0px;
 }